@import url('https://fonts.googleapis.com/css2?family=Andika:ital,wght@0,400;0,700;1,400;1,700&family=Berkshire+Swash&family=Flow+Circular&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Pirata+One&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');


:root{
    --base-bg: rgb(31, 33, 161);
    --second-bg: rgb(140, 190, 244);
    --font: "Roboto Condensed", sans-serif;
    --mixed-bg: linear-gradient(1deg, var(--second-bg),var(--base-bg));
}

*{
    margin: 0;
    padding: 0;
    font-family: var(--font);
}

body{
    background-image: url("./bg.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

header{
    background: var(--mixed-bg);
    height: 10vh;
    width: 100vw;
    text-align: center;
    color: white;
    display: grid;
}

main{
    width: 60vw;
    margin: 0 auto;
}

header>ul{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    list-style: none;
    box-shadow: 1px 1px 2px silver, 1px 1px 5px transparent;
}

li{
    cursor: pointer;
}
.content{
    border: 1px solid;
    height: 20vh;
    width: 80vh;
    margin: 10px auto;
    background-color: white;
}

.formelement{
    width: 100%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}


label{
    width: 50%;
    padding: 5px;
}

input{
    text-align: start;
    margin-left: 15px;
    font-size: 1em;
}

a{
    text-decoration: none;
    color: white;
    cursor: pointer;
}

a:hover{
    font-size: 102%;
    text-shadow: 1px 1px 0px transparent, 2px 2px 5px skyblue;
}

#centerPage{
    animation: move 1s ease-in-out;
    overflow: hidden;
    border-radius: 4px;
    border-color: lightblue;
    box-shadow: 2px 2px 2px var(--second-bg), 6px 6px 5px var(--second-bg),12px 12px 20px var(--second-bg);
    perspective: 1500px;
    transition: transform 0.6s ease;
}

@keyframes move{
    0%{
        transform: translateX(220px);
    }100%{
        transform: translateX(0px);
    }
}

#centerPage:hover{
    transform: rotateY(-6deg) rotateX(0deg) rotateZ(2deg);
    border: none;
}

.div1,.div3,.div5,.div7{
     animation: move-left 1s ease-in-out;
    overflow: hidden;
    border-radius: 4px;
    border-color: rgb(49, 218, 238);
    box-shadow: 1px 11px 12px rgb(42, 209, 212), 6px 6px 9px rgb(35, 165, 141), 1px 15px 10px transparent;
    perspective: 1500px;
    transition: transform 0.6s ease;
}

@keyframes move-left{
    0%{
        transform: translateX(-200px);

    }100%{
        transform: translateX(0px);
    }
}

.div1:hover,.div3:hover,.div5:hover,.div7:hover{
    transform: rotateX(7deg) rotateY(7deg) rotateZ(1deg);
}

.div2{
    border: none;
    perspective: 1500px;
    border-radius: 4px;
    transition: transform 0.6s ease;
    box-shadow: 1px 2px 2px rgb(119, 64, 119), 2px 2px 12px violet, 2px 2px 10px rgb(140, 78, 140);
}
.div3{
    border-color: orange;
    border-radius: 4px;
    box-shadow: 1px 2px 2px orange, 2px 2px 12px orangered, 2px 2px 10px orange;
}
.div5{
    border: none;
    border-radius: 4px;
    transition: transform 0.6s ease;
    box-shadow: 1px 2px 2px rgb(125, 215, 118), 2px 2px 12px rgb(101, 207, 98), 2px 2px 10px rgb(100, 206, 130);
}

.div6{
    border: none;
    border-radius: 4px;
    box-shadow: 1px 2px 2px rgb(200, 27, 27), 2px 2px 12px rgb(231, 58, 49), 2px 2px 10px rgb(241, 15, 15);
}

.div7{
    border: none;
    border-radius: 4px;
    transition: transform 0.6s ease;
    box-shadow: 1px 2px 2px rgb(84, 49, 136), 2px 2px 12px rgb(77, 52, 135), 2px 2px 10px rgb(94, 45, 136);
}

.div2,.div4,.div6{
     animation: move 1s ease-in-out;
    overflow: hidden;
}

.div2:hover,.div4:hover,.div6:hover{
   transform: rotateX(7deg) rotateY(7deg) rotateZ(1deg);
}

#submit,#reset{
    margin-left: 10px;
    background: var(--mixed-bg);
    border: none;
    border-radius: 5px;
    padding: 5px;
}
#submit:hover,#reset:hover{
    transform: scale(105%);
    border-radius: 5px;
    color: white;
    cursor: pointer;
}

p{
    font-size: 110%;
    text-align: center;
    padding: 5%;
}




footer{
    text-align: center;
    text-transform: capitalize;
    padding: 10px;
}

footer>p{
    font-size: 0.8em;
}